<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
        <h3>Como Funciona</h3>
        <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 text-center">
      <img src="http://lorempixel.com/80/80/" alt="" class="circle">
      <h5>1.Registrarte</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo odit accusantium assumenda praesentium debitis tenetur nulla eos cupiditate voluptate</p>
    </div>
    <div class="col-md-3 text-center">
      <img src="http://lorempixel.com/80/80/" alt="" class="circle">
      <h5>2.Solicita tu préstamo</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo odit accusantium assumenda praesentium debitis tenetur nulla eos cupiditate voluptate</p>
      </div>
    <div class="col-md-3 text-center">
      <img src="http://lorempixel.com/80/80/" alt="" class="circle">
      <h5>3.Dinero en tu cuenta</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo odit accusantium assumenda praesentium debitis tenetur nulla eos cupiditate voluptate</p>
      </div>
    <div class="col-md-3 text-center">
      <img src="http://lorempixel.com/80/80/" alt="" class="circle">
      <h5>5.Programa de fidelidad</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo odit accusantium assumenda praesentium debitis tenetur nulla eos cupiditate voluptate</p>
      </div>
  </div>


  
</div>