
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
        <h3>Calcula tu prestamo</h3>
        <hr>
    </div>
  </div>
  <div class="row prestamo">
      <div class="col-md-4 text-center">
        <h4>¿Cuanto quieres?</h4>
        <button class="btn-circle" type="">+</button>
        <input type="text" name="" value="500" readonly="readonly">
        <button class="btn-circle" type="">-</button>
      </div>
      <div class="col-md-4 text-center">
        <h4>¿Cuantas cuotas?</h4>
        <button class="btn-circle" type="">+</button>
        <input  type="text" name="" value="1" readonly="readonly">
        <button class="btn-circle" type="">-</button>
      </div>
      <div class="col-md-4 text-center">
        <h4>Cuota Mensual</h4>
        <p><strong>S/ 588</strong></p>
        <button class="btn btn-outline-success btn-block">Pidelo ya!</button>
      </div>
  </div>
  <br>
  <div class="row">
    <small>Préstamo S/ 500 + Intereses y Comisiones S/ 88 = Total a pagar S/ 588
* Tasa Efectiva Mensual: 14.92%. TCEA de 430%+IGV y primer vencimiento el 23/06/2017 (lo podrás modificar más adelante). Desembolso en 1 hora durante horario de oficina.</small>
  </div>
  
</div>
