<div class="container">
 <div class="row">
   <app-prestamos></app-prestamos>
 </div>
  
  <div class="row">
    <div class="col-12 col-md-6 offset-md-6">
      <h1>Nosotros</h1>
      <hr>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel adipisci nostrum omnis sit sapiente debitis aut, libero eligendi eos esse, non architecto ab eaque doloremque quasi tenetur necessitatibus perspiciatis facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, assumenda ea eligendi recusandae officiis et reiciendis qui, voluptates veniam cum laborum vel sunt optio repellat ipsum, sed mollitia quae eveniet!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel adipisci nostrum omnis sit sapiente debitis aut, libero eligendi eos esse, non architecto ab eaque doloremque quasi tenetur necessitatibus perspiciatis facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, assumenda ea eligendi recusandae officiis et reiciendis qui, voluptates veniam cum laborum vel sunt optio repellat ipsum, sed mollitia quae eveniet!
      </p>
    </div>
    
  </div>
</div>
