<div class="container">
      <app-prestamos></app-prestamos>
      <br>
      <h1 class="text-center">Tu dinero en 4 simples pasos!</h1>
      <app-pasos></app-pasos>
      <br>
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#solicita" role="tab">Solicita un Prestamo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#ventajas" role="tab">Nuestras Ventajas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#formas" role="tab">Formas de Repago</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#campañas" role="tab">Campañas Bonus</a>
        </li>
      </ul>
      
      <div class="tab-content">
        <div class="tab-pane fade show active" id="solicita" role="tabpanel">
          <ul>
            <li>
              Selecciona el importe y cuotas de acuerdo a tu necesidad financiera y capacidad de pago
            </li>
            <li>
              Completa el formulario con tus datos personales para proceder a evaluarte en línea
            </li>
            <li>
              Si tu préstamo es aprobado, lo firmas electrónicamente y se desembolsa en menos de 1 hora
            </li>
            <li>
              También podrás elegir la fecha de tu primer pago en caso la opción brindada no se adecue a tu flujo de ingresos.
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="ventajas" role="tabpanel">
          <ul>
            <li>Flexibilidad en opciones de montos y cuotas</li>
            <li>Evaluación crediticia y respuesta en segundos. Todo en línea</li>
            <li>Sin garantías, ni papeleos, ni visitas a agencias</li>
            <li>Desembolso directo en tu cuenta bancaria</li>
            <li>Menores tasas, mayores importes y más facilidades para clientes recurrentes</li>
            <li>Perfil personal con detalles de tus préstamos y aplicaciones</li>
          </ul>
        </div>
        <div class="tab-pane fade" id="formas" role="tabpanel">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, nesciunt provident atque recusandae expedita eligendi adipisci, repellat. Ipsam adipisci animi vel maxime amet voluptatem laboriosam officia est reprehenderit, doloribus neque</div>
        <div class="tab-pane fade" id="campañas" role="tabpanel">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, nesciunt provident atque recusandae expedita eligendi adipisci, repellat. Ipsam adipisci animi vel maxime amet voluptatem laboriosam officia est reprehenderit, doloribus neque</div>
      </div>
</div>


